/* General body styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header styles */
header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 1em 0;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    bottom: 0;
    width: 100%;
}

/* Container for products */
#products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Individual product card styles */
.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Ensures the content fits within the borders */
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

/* Product image styles */
.product-image img {
    width: 100%; /* Makes all images the same width */
    height: 200px; /* Fixed height for consistency */
    object-fit: cover; /* Ensures the image covers the area nicely */
}

/* Product information styles */
.product-info {
    padding: 15px;
}

.product-info h2 {
    font-size: 1.2em;
    margin: 0 0 10px 0;
    color: #007bff;
}

.product-info p {
    font-size: 0.9em;
    line-height: 1.4;
    margin: 0 0 10px 0;
}

#search-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    width: 200px; /* Adjust as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Search button styles */
header button {
    padding: 10px 15px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header button:hover {
    background-color: #218838;
}

@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: center;
    }
}